<div class="container w-1/5 mx-auto flex flex-col justify-center">
  <div *ngIf="!isEmpty(); else emptyCartBlock">
    <p *ngFor="let item of getItems()">
      <app-cart-item appHighlight
        [product]=item.product
        [quantity]=item.quantity

        (quantityIncrease)="onQuantityIncrease($event)"
        (quantityDecrease)="onQuantityDecrease($event)"
        (deleteItem)="onDeleteItem($event)">
      </app-cart-item>
    </p>
    <p class="text-main">Общая стоимость {{getTotalCost()}}, Количество {{getTotalQuantity()}}</p>
  </div>

  <ng-template #emptyCartBlock>
    <p class="text-main">Корзина пуста</p>
  </ng-template>
</div>
